html {
  background-color: rgb(65, 65, 65);
  color: rgb(199, 0, 0);
  text-align: center;
  align-content: center;
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 5px;
  }

  main {
    align-content: center;
    text-align: center;
    margin: 25px;
    padding: 25px;
  }
}
#tokyoGhoulHeaderLogo {
  /*  width: 900px;   */
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: contain;
  border-radius: 5px;
  padding-bottom: 35px;
}

footer {
  background-color: silver;
  min-width: 100%swh;
  padding: 0;
  margin: 0;
  word-spacing: 0;
}

#angryCatNoises {
  align-content: right;
}

.main-character {
}
/* 100svw , 100svh */
